<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${apply.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">申请人姓名：</label>
								<div class="col-sm-8">
									<input id="userId" name="user.userName" th:value="${apply.user.userName}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">申请人手机号：</label>
								<div class="col-sm-8">
									<input id="userId" name="user.mobile" th:value="${apply.user.mobile}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">支付宝账户：</label>
								<div class="col-sm-8">
									<input id="alipayAccount" name="alipayAccount" th:value="${apply.alipayAccount}" class="form-control" type="text"readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">申请提现金额：</label>
								<div class="col-sm-8">
									<input id="amount" name="amount" th:value="${apply.amount}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">申请状态：</label>
								<div class="col-sm-8">
									<input id="status" name="status" th:value="${apply.status.explain}" class="form-control" type="text" readonly="readonly">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">提现时间：</label>
								<div class="col-sm-8">
									<input id="createDate" th:value="${apply.createDate}==null?null:${#dates.format(apply.createDate,'yyyy-MM-dd HH:mm:ss')}" name="createDate" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<textarea rows="5" cols="10" class="form-control" id="remark" name="remark"></textarea>
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="button" class="btn btn-primary" onclick="update('review_pass')">审核通过</button>
									<button type="button" class="btn btn-primary" onclick="update('review_reject')">审核驳回</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/capital/apply/review.js">
	</script>
</body>
</html>
