<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddf.admin.system.dao.StudentDao">

	<select id="get" resultType="com.ddf.admin.system.domain.StudentDO">
		select `id`,`name`,`age`,`type`,`create_date`,`update_date`,`remark` from student where id = #{value}
	</select>

	<select id="list" resultType="com.ddf.admin.system.domain.StudentDO">
		select `id`,`name`,`age`,`type`,`create_date`,`update_date`,`remark` from student
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="age != null and age != ''"> and age = #{age} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from student
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="name != null and name != ''"> and name = #{name} </if>
		  		  <if test="age != null and age != ''"> and age = #{age} </if>
		  		  <if test="type != null and type != ''"> and type = #{type} </if>
		  		  <if test="createDate != null and createDate != ''"> and create_date = #{createDate} </if>
		  		  <if test="updateDate != null and updateDate != ''"> and update_date = #{updateDate} </if>
		  		  <if test="remark != null and remark != ''"> and remark = #{remark} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.ddf.admin.system.domain.StudentDO">
		insert into student
		(
			`id`, 
			`name`, 
			`age`, 
			`type`, 
			`create_date`, 
			`update_date`, 
			`remark`
		)
		values
		(
			#{id}, 
			#{name}, 
			#{age}, 
			#{type}, 
			#{createDate}, 
			#{updateDate}, 
			#{remark}
		)
	</insert>
	 
	<update id="update" parameterType="com.ddf.admin.system.domain.StudentDO">
		update student 
		<set>
			<if test="name != null">`name` = #{name}, </if>
			<if test="age != null">`age` = #{age}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="createDate != null">`create_date` = #{createDate}, </if>
			<if test="updateDate != null">`update_date` = #{updateDate}, </if>
			<if test="remark != null">`remark` = #{remark}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from student where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from student where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>