<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${houseOpinion.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">房客ID（评论人）：</label>
								<div class="col-sm-8">
									<input id="lodgerId" name="lodgerId" th:value="${houseOpinion.lodgerId}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">房东ID：</label>
								<div class="col-sm-8">
									<input id="landlordId" name="landlordId" th:value="${houseOpinion.landlordId}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">房源ID：</label>
								<div class="col-sm-8">
									<input id="houseId" name="houseId" th:value="${houseOpinion.houseId}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">房源名称：</label>
								<div class="col-sm-8">
									<input id="houseName" name="houseName" th:value="${houseOpinion.houseName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">看房时间：</label>
								<div class="col-sm-8">
									<input id="seeHouseDate" name="seeHouseDate"  placeholder="看房时间"  th:value="${#dates.format(houseOpinion.seeHouseDate, 'YYYY-MM-DD HH:mm:ss')}" type="text" class="form-control laydate-icon " 
								  			onclick="laydate({istime: true, format: 'YYYY-MM-DD HH:mm:ss'})" />
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">星级：</label>
								<div class="col-sm-8">
									<select id="houseLevel" name="houseLevel" data-placeholder="星级" th:field="*{houseOpinion.houseLevel}" class="form-control chosen-select" tabindex="2" style="width: 100%">
										<option value="1">1星</option>
										<option value="2">2星</option>
										<option value="3">3星</option>
										<option value="4">4星</option>
										<option value="5">5星</option>
									</select>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">房源备注：</label>
								<div class="col-sm-8">
									<input id="houseRemark" name="houseRemark" th:value="${houseOpinion.houseRemark}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">房源图片：</label>
								<div class="col-sm-8">
									<input id="houseImg" name="houseImg" th:value="${houseOpinion.houseImg}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">房源标签：</label>
								<div class="col-sm-8">
									<input id="houseLabel" name="houseLabel" th:value="${houseOpinion.houseLabel}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" th:value="${houseOpinion.remark}" class="form-control" type="text">
								</div>
							</div>
							<!-- <div class="form-group">	
								<label class="col-sm-3 control-label">创建时间：</label>
								<div class="col-sm-8">
									<input id="createDate" name="createDate" th:value="${houseOpinion.createDate}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">修改时间：</label>
								<div class="col-sm-8">
									<input id="updateDate" name="updateDate" th:value="${houseOpinion.updateDate}" class="form-control" type="text">
								</div>
							</div> -->
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/message/houseOpinion/edit.js">
	</script>
</body>
</html>
